table {
    width: 96%;
}

.live-config_wrapper {
    width: 100%;
    margin: 2%;
}

.live-config_paginator {
    width: 96%;
}

.action_spacer {
    width: 16px;
    display: inline-block;
}

.config_select {
    width: 80%;
}

.config_input {
    width: 80%;
}

form {
    width: 80%;
    display: inline-block;
}

.live-config_warning {
    color: red;
    font-size: 10px;
}