<div class="setup-admin_wrapper">
    <h1>Setup Admin</h1>

    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Api key</mat-label>
            <input matInput [formControl]="apikey" required>
            <button mat-flat-button color="primary" type="submit">ok</button>
        </mat-form-field>
    </form>
    <p class="hint"> Please setup a api-key with vmq-admin tool and then visit this page again with the api-key</p>
</div>