<mat-toolbar>
    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="sidenav.toggle()">menu</mat-icon>
    <span>VmqAdmin</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" [matMenuTriggerFor]="appMenu">account_circle</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-list>
            <mat-list-item> <a [routerLink]="['dashboard']">Dashboard</a> </mat-list-item>
            <mat-list-item> <a [routerLink]="['cluster']">Cluster</a> </mat-list-item>
            <mat-list-item> <a [routerLink]="['users']">Users</a></mat-list-item>
            <mat-list-item> <a [routerLink]="['session']">Session</a> </mat-list-item>
            <mat-list-item> <a [routerLink]="['plugins']">Plugins</a> </mat-list-item>
            <mat-list-item> <a [routerLink]="['listener']">Listeners</a> </mat-list-item>
            <mat-list-item> System Metrics </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item>About</button>
</mat-menu>