<mat-toolbar>
    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="sidenav.toggle()">menu</mat-icon>
    <span>VmqAdmin</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" [matMenuTriggerFor]="appMenu">account_circle</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['dashboard']"> Dashboard</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Cluster">layers</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['cluster']"> Cluster</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Users">supervisor_account</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['users']"> Users</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Sessions">cast_connected</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['session']"> Session</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Plugins">power</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['plugins']"> Plugins</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Listeners">import_export</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['listener']"> Listeners</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Metrics">trending_up</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['']"> System Metrics </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Configuration">settings</mat-icon>
                <p class="menu_spacer"></p>
                <a [routerLink]="['']"> Configuration </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item>About</button>
</mat-menu>